# Copia este archivo como ".env" y ajusta los valores

# Cadena de conexion a MongoDB (local via Compass/Community o Atlas en la nube)
MONGO_URI=mongodb://127.0.0.1:27017/natural_power

# Puerto donde correra el servidor Express
PORT=4000
